.section-library {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container-lib__container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 0 20px;
  width: 100%;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 30px 0 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}

.collection-lib {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
